body {
    font-family: 'Inter';
    font-style: normal;
    width: 99vw;
    height: 97vh;
    background: #E5E5E5;
}
main {
    display: flex;
}
.principal {
    width: 60%;
    height: 89vh;

}

.input-principal {
    margin: 5% 0 0 20%;

}
.input-principal input{
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border-style: none;

    background: #E5E5E5;
    color: #0A3871;
}
.input-principal input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.buttons-principais{
    width: 70%;
    position: relative;
    left: 20%;
    top: 50%;
}

.buttons-principais p {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;
    opacity: 0.8;
}

.buttons {
    height: 67px;
    display: flex;
}

#criptografar {
    margin-right: 10px;
    width: 50%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#descriptografar {
    width: 50%;
    background: #D8DFE8;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.secundaria {
    width: 40%;
    height: 89vh;
}

.secundaria img {
    margin: 20% 20% 0 20%;
}


.secundaria p {
    text-align: center;
    margin-top: 5%;
}
.div-secundaria {
    width: 400px;
    position: relative;
    top: -41px;
    height: 93vh;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 8%);
    border-radius: 32px
}

.secundaria div:nth-child(2){
    margin-top: 20%;
}

